.popup__container {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 10px;
	max-width: 430px;
	width: 100%;
	min-height: 330px;
	margin: 195px auto auto;
	position: relative;
}



@media screen and (max-width: 545px) {
	.popup__container {
		margin: 123px auto auto;
		max-width: 282px;
		min-height: 322px;
	}
}