.header__logo {
	width: 142px;
	height: 33px;
	padding-bottom: 41px;
}

@media screen and (max-width: 350px) {
	.header__logo {
		width: 103.74px;
		height: 24.4px;
		padding-bottom: 31.6px;
		padding-left: 27px;
	}
}