.popup__form {
	min-width: 358px;
	display: flex;
	flex-direction: column;
	min-width: 358px;
	gap: 13px;
	align-items: center;
	justify-content: center;
	margin: 0 auto 0;
}

@media screen and (max-width: 545px) {
	.popup__form {
		min-width: 238px;
		grid-template-columns: 238px;
		padding-top: 65px;
	}
}