.profile__description {
	margin: 0;
	padding: 0;
	max-width: 100%;
	font-family: 'Inter', 'Arial', sans-serif;
	color: white;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	grid-area: span 2;
}